.banner{
    position: relative;
    overflow: hidden;
}

.banner-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-image: url('../assets/imgs/фон.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:bottom center;
    position: relative;
    z-index: -1;
}
.banner-content{
    width: 50%;
    padding: 86px 0 0;
   
}

.banner-content h2{
    color: rgba(44, 77, 105, 1);
    margin-bottom: 12px;
}
.banner-content p{
    margin-bottom: 19px;
}
.banner-info-wrapper{
    width: calc(50% - 15px);
    padding: 0 0 80px;
}
.banner-info{
    width: 100%;
    background-color: rgba(4, 41, 174, 0.04);
    border-radius: 15px;
    padding: 15px 16px 21px 60px;
    position: relative;
    margin-bottom: 19px;
    color: rgba(44, 77, 105, 1);
}
.banner-info-ttl{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.banner-info-ttl h6{
	max-width: 406px; 
}
.banner-info-ttl span{
    display: block;
    font-size: 14px;
    padding: 0px 7px 2px;
    border-radius: 30px;
    border: 1px solid rgba(66, 69, 71, 1);
    opacity: 0.5;
}
.banner-info-icon{
    width: 60px;
    height: 60px;
    background-image: url('../assets/imgs/wave-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -4px;
    left: -4px;
}
.banner-info-icon span{
    display: block;
    width: 32px;
    height: 32px;
    background-color: rgba(212, 221, 229, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-info ul li{
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin-top: 15px;
}
.banner-info ul li svg{
    margin-top: 5px;
}
.banner-info-wrapper .btn{
    width: 100%;
}

@media (max-width: 1100px){
    .banner-content{
        width: 100%;
        padding-bottom: 0px;
        box-shadow: 10px 0px 59px 100px rgba(244, 244, 244, 1);
        background-color: rgba(244, 244, 244, 1);
    }
    .banner-img{
        position: static;
        width: 100%;
        aspect-ratio: 1/1.1;
        background: none;
    }
    .banner-info-wrapper{
        width: 100%;
        margin-top: 30px;
    }

}

@media (max-width: 600px){
    .banner-info-ttl span{
        display: none;
    }
    .banner-info-wrapper .btn{
        display: block;
    }
    .banner-img{
        aspect-ratio: 1/1.2;
    }
}