.footer{
    background-color: rgba(26, 29, 39, 1);
    color: rgba(255, 255, 255, 1);
}
.footer-top{
    padding: 73px 0 45px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.footer-top .contacts{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-menu{
    display: flex;
    gap: 50px;
}
.footer-menu-list{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
}
.footer-menu-list li{
    transition: color 0.3s;
    white-space: nowrap;
}
.footer-menu-list li:hover{
    color: rgba(35, 71, 200, 1);
}
.footer-socials{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 22px;
}
.footer-socials .btn{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.58);
    padding: 11px 28px 14px;
}
.footer-bottom{
    padding: 40px 0 48px;
    font-size: 14px;
    border-top: 1px solid rgba(155, 155, 155, 0.17)
}
.footer-bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.developed{
    display: flex;
    align-items: center;
    gap: 14px;
}
.developed a:first-child{
    display: block;
    width: max-content;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    line-height: 13px;
    margin-bottom: 2px;
}
.footer-bottom span{
    display: block;
}

@media (max-width: 1024px){
    .footer-menu{
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
    }
    .footer-menu-list{
        column-gap: 87px;
    }
    .footer-socials{
        align-items: flex-end;
    }
    .footer-menu .btn{
        font-size: 16px;
    }
}
@media (max-width: 768px){
    .footer-top{
        flex-wrap: wrap;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-menu-list{
        column-gap: 60px;
    }
}

@media (max-width: 707px){
    .footer-top{
        padding: 60px 0 30px;
    }
    .footer-socials{
        align-items: flex-start;
    }
    .footer-bottom .container{
        flex-wrap: wrap;
    }
}